AddDefaultCharset utf-8
php_value register_globals off
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
        RewriteRule !\.(swf|js|ico|gif|jpg|jpeg|png|css|zip|pdf|doc|xml)$ index.php
</IfModule>
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/x-javascript text/css text/javascript
</IfModule>
<FilesMatch ".(jpg|jpeg|png|gif)$">
    Header set Expires "Tue, 18 Dec 2010 02:18:46 GMT"
</FilesMatch>
